# This is a basic workflow to help you get started with Actions

name: Ansible-CI

# Run when creating PR to master
on:
  pull_request:
    branches: [main, master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint-action@v4.1.0.post0
        with:
          # [required]
          # Paths to ansible files (i.e., playbooks, tasks, handlers etc..)
          # or valid Ansible directories according to the Ansible role
          # directory structure.
          # If you want to lint multiple ansible files, use the following syntax
          # targets: |
          #   playbook_1.yml
          #   playbook_2.yml
          entryPoint: "/playbook.yml"
          # [optional]
          # Arguments to override a package and its version to be set explicitly.
          # Must follow the example syntax.
          override-deps: |
            ansible==2.9.6
            ansible-lint=4.3.7
          # [optional]
          # Arguments to be passed to the ansible-lint

          # Options:
          #   -q                    quieter, although not silent output
          #   -p                    parseable output in the format of pep8
          #   --parseable-severity  parseable output including severity of rule
          #   -r RULESDIR           specify one or more rules directories using one or
          #                         more -r arguments. Any -r flags override the default
          #                         rules in ansiblelint/rules, unless -R is also used.
          #   -R                    Use default rules in ansiblelint/rules in addition to
          #                         any extra
          #                         rules directories specified with -r. There is no need
          #                         to specify this if no -r flags are used
          #   -t TAGS               only check rules whose id/tags match these values
          #   -x SKIP_LIST          only check rules whose id/tags do not match these
          #                         values
          #   --nocolor             disable colored output
          #   --exclude=EXCLUDE_PATHS
          #                         path to directories or files to skip. This option is
          #                         repeatable.
          #   -c C                  Specify configuration file to use. Defaults to ".ansible-lint"
          args: ""
